<!DOCTYPE html>
<html>
    <head>
        <title>Date File</title>
    </head>
    <body>
        <% todays_date = DateTime.new %>
        <h1>The date is <%= todays_date %></h1>
        <h2>h2 tag</h2>
        <p>p tag</p>
    </body>
</html>
